// Reset css
@import "reset";

/* font */
//font name_Black Ops One , Lobster, Poiret One//
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poiret+One&display=swap");

// common
body {
  background-color: black;
  font: 17px/1.4 "Lobster";
  color: rgb(255, 255, 255);

  .wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    perspective: 2900px;

    > video {
      width: 120%;
      height: 100vh;
      right: 200px;
      position: absolute;
      top: 0px;
      opacity: 0.8;
    }

    .paper {
      position: absolute;
      width: 850px;
      height: 1400px;
      right: 0px;
      opacity: 1;
      background-color: aliceblue;
    }

    .food {
      position: absolute;
      font-size: 90px;
      font-family: "Lobster";
      padding: 100px;
      left: 45px;
      top: -20px;
      text-shadow: 5px 8px 20px rgb(31, 31, 31);
    }

    .id {
      position: absolute;
      width: 250px;
      height: 60px;
      bottom: 200px;
      left: 220px;
      border-radius: 15px;
      background-color: aliceblue;
      opacity: 0.3;
      color: black;
      text-align: center;
      font-size: 38px;
      font-family: "Lobster";

      &:hover {
        cursor: pointer;
        font: 38px bold black "Lobster";
        background-color: aliceblue;
        opacity: 1;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.244);
      }
    }

    .id2 {
      position: absolute;
      width: 250px;
      height: 60px;
      bottom: 100px;
      left: 220px;
      border-radius: 15px;
      background-color: aliceblue;
      opacity: 0.3;
      color: black;
      text-align: center;
      font-size: 38px;
      font-family: "Lobster";

      &:hover {
        cursor: pointer;
        font: 38px bold black "Lobster";
        background-color: aliceblue;
        opacity: 1;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.244);
      }
    }

    #circle {
      width: 600px;
      height: 700px;
      right: 6%;
      top: 53%;
      position: absolute;
      margin-left: -300px;
      margin-top: -400px;
      //   border: 1px solid lightcyan;
      animation: panorama linear 13s infinite;
      transform-style: preserve-3d;

      &:hover {
        animation-play-state: paused;
      }

      article {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        backface-visibility: hidden;
        // display: none;

        // &:nth-of-type() {
        //   display: block;
        // }

        .inner {
          width: 100%;
          height: 100%;
          > div {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.354);
            // border: 2px solid rgb(255, 255, 255);
            padding: 50px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            opacity: 0.7;
            transition: 0.5s;

            &:hover {
              opacity: 1;
              transform: scale(1.03);
            }
          }
        }
        &.item1 {
          transform: rotateX(0deg) translateZ(400px);
          .inner {
            div {
              width: 450px;
              height: 30px;
              float: left;
              margin-bottom: 20px;
              text-align: center;
              box-shadow: 5px 5px 5px rgba(64, 57, 44, 0.632);
              border-radius: 20px;
              background-color: rgba(127, 115, 77, 0.347);
              &:nth-of-type(odd) {
                margin-right: 20px;
              }
              img {
                position: absolute;
                opacity: 0.7;
                transition: 0.5s;
                width: 100%;
                // height: 80;
                top: -58px;
                align-items: center;

                left: 0px;
              }

              .japen {
                position: absolute;
                opacity: 0.7;
                transition: 0.5s;
                width: 100%;
                // height: 80;
                top: -20px;
                align-items: center;
                left: 0px;
              }

              h2 {
                margin-top: 10px;
                transition: 0.5s;
              }

              &:hover {
                i,
                h2 {
                  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
                  transform: scale(1.2);
                  opacity: 1;
                }
              }
            }
          }
        }
        &.item2 {
          transform: rotateX(90deg) translateZ(400px);
          .inner {
            div {
              width: 450px;
              height: 600px;
              h2 {
                font: bold 24px/1;
                color: rgb(210, 126, 0);
              }
              video {
                width: 100%;
                margin: 20px 0px 40px 0px;
              }
              h3 {
                color: rgb(141, 109, 60);
                margin-bottom: 10px;
              }
              p {
                font: 18px/1.2;
                color: rgb(94, 83, 67);
              }

              &:hover {
                h2,
                h3 {
                  text-shadow: 0px 0px 10px rgba(172, 126, 0, 0.473);
                }
              }
            }
          }
        }
        &.item3 {
          transform: rotateX(180deg) translateZ(400px);
          .inner {
            div {
              width: 450px;
              height: 30px;
              float: left;
              margin-bottom: 20px;
              text-align: center;
              box-shadow: 5px 5px 5px rgba(64, 57, 44, 0.632);
              border-radius: 20px;
              background-color: rgba(127, 115, 77, 0.347);
              &:nth-of-type(odd) {
                margin-right: 20px;
              }
              img {
                position: absolute;
                opacity: 0.7;
                transition: 0.5s;
                width: 140%;
                height: 50px;
                top: 0px;
                bottom: 0px;
                left: 15px;
              }

              h2 {
                margin-top: 20px;
                transition: 0.5s;
              }

              &:hover {
                i,
                h2 {
                  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
                  transform: scale(1.2);
                  opacity: 1;
                }
              }
            }
          }
        }
        &.item4 {
          transform: rotateX(270deg) translateZ(400px);
          .inner {
            div {
              width: 450px;
              height: 600px;
              h2 {
                font: bold 24px/1;
                color: rgb(210, 126, 0);
              }
              video {
                width: 100%;
                margin: 20px 0px 40px 0px;
              }
              h3 {
                color: rgb(141, 109, 60);
                margin-bottom: 10px;
              }
              p {
                font: 18px/1.2;
                color: rgb(94, 83, 67);
              }

              &:hover {
                h2,
                h3 {
                  text-shadow: 0px 0px 10px rgba(172, 126, 0, 0.473);
                }
              }
            }
          }
        }
        // &.item5 {
        //   transform: rotateX(180deg) translateZ(-764px);
        //   .inner {
        //     div {
        //       width: 600px;
        //       height: 50px;
        //       float: left;
        //       margin-bottom: 20px;
        //       text-align: center;
        //       &:nth-of-type(odd) {
        //         margin-right: 20px;
        //       }
        //       i {
        //         color: aliceblue;
        //         font-size: 100px;
        //         opacity: 0.7;
        //         transition: 0.5s;
        //       }

        //       h2 {
        //         margin-top: 20px;
        //         transition: 0.5s;
        //       }

        //       &:hover {
        //         i,
        //         h2 {
        //           text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
        //           transform: scale(1.2);
        //           opacity: 1;
        //         }
        //       }
        //     }
        //   }
        // }
        // &.item6 {
        //   transform: rotateX(225deg) translateZ(-764px);
        //   .inner {
        //     div {
        //       h2 {
        //         font: bold 24px/1;
        //         color: aliceblue;
        //       }
        //       img {
        //         width: 100%;
        //         margin: 20px 0px 40px 0px;
        //       }
        //       h3 {
        //         color: aliceblue;
        //         margin-bottom: 10px;
        //       }
        //       p {
        //         font: 18px/1.2;
        //       }

        //       &:hover {
        //         h2,
        //         h3 {
        //           text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
        //         }
        //       }
        //     }
        //   }
        // }
        // &.item7 {
        //   transform: rotateX(270deg) translateZ(-764px);
        //   .inner {
        //     div {
        //       width: 600px;
        //       height: 50px;
        //       float: left;
        //       margin-bottom: 20px;
        //       text-align: center;
        //       &:nth-of-type(odd) {
        //         margin-right: 20px;
        //       }
        //       i {
        //         color: aliceblue;
        //         font-size: 100px;
        //         opacity: 0.7;
        //         transition: 0.5s;
        //       }

        //       h2 {
        //         margin-top: 20px;
        //         transition: 0.5s;
        //       }

        //       &:hover {
        //         i,
        //         h2 {
        //           text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
        //           transform: scale(1.2);
        //           opacity: 1;
        //         }
        //       }
        //     }
        //   }
        // }
        // &.item8 {
        //   transform: rotateX(315deg) translateZ(-764px);
        //   .inner {
        //     div {
        //       h2 {
        //         font: bold 24px/1;
        //         color: aliceblue;
        //       }
        //       img {
        //         width: 100%;
        //         margin: 20px 0px 40px 0px;
        //       }
        //       h3 {
        //         color: aliceblue;
        //         margin-bottom: 10px;
        //       }
        //       p {
        //         font: 18px/1.2;
        //       }

        //       &:hover {
        //         h2,
        //         h3 {
        //           text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
        //         }
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}

@keyframes panorama {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}
